extends ../layout

block content
  h3.mb-4 Employee Master

  .mb-3.d-flex.gap-2
    a.btn.btn-primary(href="/employees/add") Add Employee


    select#statusFilter.form-select(style="max-width:200px")
      option(value="") All Employees
      option(value="Active") Active
      option(value="Inactive") Inactive

  table#employeeTable.table.table-bordered.table-striped
    thead.table-dark
      tr
        th ID
        th Employee Code
        th Name
        th Email
        th Department
        th Branch
        th Status
        th Actions
    tbody
      each emp in employees
        tr
          td= emp.id
          td= emp.employeeCode
          td= emp.name
          td= emp.email
          td= emp.department
          td= emp.branch
          td(data-search=emp.isActive ? 'Active' : 'Inactive')
            = emp.isActive ? 'Active' : 'Inactive'
          td
            a.btn.btn-sm.btn-warning(href=`/employees/edit/${emp.id}`) Edit

block scripts
  script.
    $(function () {
      const table = $('#employeeTable').DataTable({
        searching: true,
        ordering: false
      });

      $('#globalSearch').on('input', function () {
        table.search(this.value).draw();
      });

      $('#statusFilter').on('change', function () {
        const value = this.value;

        if (value === '') {
          table.column(6).search('').draw();
        } else {
          table
            .column(6)
            .search('^' + value + '$', true, false)
            .draw();
        }
      });

    });

